n8n/table-mutation-data-orchestrator.json
{
  "name": "table-mutation-data-orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4704,
        -112
      ],
      "id": "10096822-5be5-4be3-bd81-7c2661091d2f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7gepqpxnpf.us-east-1.awsapprunner.com/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4480,
        -112
      ],
      "id": "91161a2f-6dd2-45f2-ba2e-2120c5e9fb85",
      "name": "Scrape Tables",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mT4R9cIRA1kRguEp",
          "name": "Scraper Webhook Secret"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc0eacec-ea92-4023-a8f8-cdb1bc63b975",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4256,
        -112
      ],
      "id": "13ec0887-736a-47ee-b8c7-a486724456a1",
      "name": "Scrape Success?"
    },
    {
      "parameters": {
        "jsCode": "// Split multi-table response\nconst scrapeData = $input.first().json.data;\n\nreturn scrapeData.classes.map(cls => ({\n  json: {\n    date: scrapeData.date,\n    time: scrapeData.time,\n    slug: cls.slug,\n    assignments: cls.assignments,\n    class_metadata: cls.metadata,\n    scrape_metadata: scrapeData.metadata,\n    scrape_timestamp: scrapeData.scrape_timestamp,\n    put_url: `https://api.github.com/repos/dlasley/table-mutation-data/contents/snapshots/${scrapeData.date}/${scrapeData.time}/${cls.slug}/assignments.json`,\n    put_body: {\n      message: `snapshot ${scrapeData.date}/${scrapeData.time}: ${cls.slug}`,\n      content: Buffer.from(JSON.stringify(cls.assignments, null, 2) + '\\n').toString('base64'),\n      branch: 'main',\n    },\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4032,
        -240
      ],
      "id": "786c89f1-d352-414a-8f07-8e6d51e01842",
      "name": "Split multi-table JSON response"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.put_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.put_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3584,
        -192
      ],
      "id": "96f0249d-7fb7-4079-8fb9-4bf61fdeeb4a",
      "name": "PUT Table",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "PwyEPxgpn4PNGYLU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.put_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.put_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3360,
        -384
      ],
      "id": "eeea5475-14e0-4097-8112-ff2a78d05a3c",
      "name": "PUT Snapshot Metadata",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "PwyEPxgpn4PNGYLU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construct snapshot metadata JSON \nconst scrapeData = $('Scrape Tables').first().json.data;\n\nconst metadata = {\n  date: scrapeData.date,\n  time: scrapeData.time,\n  scrape_timestamp: scrapeData.scrape_timestamp,\n  classes: {},\n};\n\nfor (const cls of scrapeData.classes) {\n  metadata.classes[cls.slug] = cls.metadata;\n}\n\nreturn [{\n  json: {\n    put_url: `https://api.github.com/repos/dlasley/table-mutation-data/contents/snapshots/${scrapeData.date}/${scrapeData.time}/metadata.json`,\n    put_body: {\n      message: `snapshot ${scrapeData.date}/${scrapeData.time}: metadata`,\n      content: Buffer.from(JSON.stringify(metadata, null, 2) + '\\n').toString('base64'),\n    },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        -384
      ],
      "id": "aa578a36-efef-45e2-a052-7f37f349ce9b",
      "name": "Build Snapshot Metadata"
    },
    {
      "parameters": {
        "fromEmail": "dlasley@gmail.com",
        "toEmail": "dlasley@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -2160,
        160
      ],
      "id": "530bef9c-a9ae-46ed-9c3c-04dd896c441c",
      "name": "Send an Email",
      "webhookId": "ad25ed50-37ae-4a87-99ff-79b3b58e1ffe",
      "credentials": {
        "smtp": {
          "id": "a2AjEHEMugzouCvi",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3808,
        -240
      ],
      "id": "70b7e7e5-91f7-4508-a8d1-140480ebdaed",
      "name": "Process Tables"
    },
    {
      "parameters": {
        "jsCode": "const response = $('Scrape Tables').first().json;\n\nreturn [{\n  json: {\n    subject: `SIS Scraper Failed - ${new Date().toLocaleDateString()}`,\n    message: `The SIS scrape failed.\\n\\nError: ${response.error || 'Unknown error'}\\n\\nTraceback:\\n${response.traceback || 'No traceback available'}`,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3472,
        160
      ],
      "id": "82c32ef6-8fe5-468d-a964-0db52b1a8ab5",
      "name": "Scrape Error Formatting"
    },
    {
      "parameters": {
        "jsCode": "const response = $('Append Index').first().json;\n\nreturn [{\n  json: {\n    subject: `SIS Rolling Index Rebuild Failed - ${new Date().toLocaleDateString()}`,\n    message: `Failed to rebuild rolling index.\\n\\nStatus: ${response.status || 'Unknown'}\\n\\nError: ${response.error || 'Unknown'}\\n\\nTraceback:\\n${response.traceback || 'Not available'}`,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        -352
      ],
      "id": "38e7245b-e735-4f1e-8b02-de5955eca40d",
      "name": "Rebuild Index Error Formatting"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7gepqpxnpf.us-east-1.awsapprunner.com/append-index",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $('Scrape Tables').first().json.data.date, time: $('Scrape Tables').first().json.data.time }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3136,
        -384
      ],
      "id": "f4292c5a-267c-461e-97a5-bfdc1e20ec13",
      "name": "Append Index",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mT4R9cIRA1kRguEp",
          "name": "Scraper Webhook Secret"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa3149e6-dc3c-47e6-b07e-d549e67472b7",
              "leftValue": "={{ $json.error.httpCode }}",
              "rightValue": 409,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2912,
        -368
      ],
      "id": "4acf64d9-4a3c-4868-a44d-5f6de675465e",
      "name": "Is 409 Rebuild Signal?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7gepqpxnpf.us-east-1.awsapprunner.com/rebuild-index",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2656,
        -576
      ],
      "id": "da30eb4f-7e9a-487f-a490-4153bc0f07a6",
      "name": "Rebuild Index Fallback",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mT4R9cIRA1kRguEp",
          "name": "Scraper Webhook Secret"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scrape Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Tables": {
      "main": [
        [
          {
            "node": "Scrape Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Success?": {
      "main": [
        [
          {
            "node": "Split multi-table JSON response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Error Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split multi-table JSON response": {
      "main": [
        [
          {
            "node": "Process Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT Table": {
      "main": [
        [
          {
            "node": "Process Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT Snapshot Metadata": {
      "main": [
        [
          {
            "node": "Append Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Snapshot Metadata": {
      "main": [
        [
          {
            "node": "PUT Snapshot Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Tables": {
      "main": [
        [
          {
            "node": "Build Snapshot Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PUT Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Error Formatting": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild Index Error Formatting": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Index": {
      "main": [
        [],
        [
          {
            "node": "Is 409 Rebuild Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 409 Rebuild Signal?": {
      "main": [
        [
          {
            "node": "Rebuild Index Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rebuild Index Error Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild Index Fallback": {
      "main": [
        [],
        [
          {
            "node": "Rebuild Index Error Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d0c8e2f7-5147-4564-9489-21087e579a4a",
  "meta": null,
  "id": "29TPdmjoU2SiZMeK",
  "tags": []
}
